<!DOCTYPE html>
<html lang="en" ng-app="TwitterExampleApp">

<head>
    <meta charset="utf-8">
    <title>Stubbed Twitter Example</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Example Stubbed Twitter Client">
    <meta name="author" content="Jay Proulx, http://www.pollensoft.com">

    <!--
		This is the production version of the UI.  It loads compiled require.js scripts, and uses minified scripts to
		improve load responsiveness.
	-->

    <link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="style/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
	<![endif]-->
</head>

<body id="TwitterExampleApp">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Twitter Example</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="http://www.pollensoft.com" target="_blank">About the author</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Timelines <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ui-sref="tweetshome">Home</a>
                        </li>
                        <li>
                            <a ui-sref="tweetsprofile">Profile</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <form id="LoginView" class="navbar-form form-inline navbar-right" onsubmit="return false;" ng-controller="LoginCtrl as login">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input class="handle form-control" type="text" placeholder="handle" ng-model="screen_name">
                        <div class="signin btn input-group-addon" ng-click="authenticate()">Sign in</div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.navbar-collapse -->

    </nav>

    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div id="HeroView" ng-controller="HeroCtrl as hero">
            <div class="jumbotron" ng-hide="user">
                <div class="container">
                    <h1>Twitter Example</h1>

                    <p>
                        This is an example Twitter application that pretends to be authenticated while you use it. "Login" with your twitter handle in the top right corner, and we'll fetch your profile and make it look like you're logged in. Browse your "timeline" (a collection of HTML5 tweets), and view your latest tweets.
                    </p>
                </div>
            </div>

            <div class="jumbotron user" ng-show="user" style="background-image: url({{user.profile_background_image_url}});">
                <div class="container">
                    <h1>
                        <span class="name">{{user.name}}</span>
                        <small class="handle">@{{user.screen_name}}</small>
                    </h1>
                    <p class="profile">{{user.description}}</p>

                    <p class="location-and-url">
                        <span class="location">{{user.location}}</span>

                        <span class="divider">·</span>

                        <a target="_blank" class="url" href="{{user.url}}">{{user.url}}</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div ui-view></div>

        <footer>
            <hr>
            <p>&copy; Pollensoft Inc. 2012</p>
        </footer>

    </div>
    <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-resource/angular-resource.min.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/app.js"></script>

</body>

</html>
